.container {
  width: 300px;
  min-height: 30vw;
  border: 1px solid lightgray;
  background-color: #fff;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;

    .title {
      display: flex;
      align-items: center;

      .edit {
        margin-left: 8px;
        font-size: 14px;
      }
    }

    .plus {
      margin-right: 20px;
    }
  }

    .task-drop {
      padding: 5px;
    }

    .task {
      width: 150px;
      border: 1px solid lightgray;
      margin-bottom: 0.5em;
      background-color: #fff;
    }
}

.empty {
  position: absolute;
  top: 200px;
  text-align: center;
}
